<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings file="LocalDev.config">
    <!--Add clientId and ClientSecret for a SP app that has the neccesary permissions-->
    <!--<add key="ClientId" value="some guid" />
    <add key="ClientSecret" value="some secret" />-->       
  </appSettings>
</configuration>